.site {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 3fr 1fr;
  grid-template-areas:
    'title title'
    'main canvas'
    'footer footer'
}
.title {
  background: ;
  text-align: center;
  grid-area: title;
}

.main-content {
  padding: 1em;
  background-color: lightgreen;
  grid-area: main;
}

.p5Canvas {
  grid-area: canvas;
}

.footer {
  padding: 1em;
  background-color: lightgreen;
  grid-area: footer;
}
